inputs/*
fine_tuned/*
voices/*
rvc/assets/*
tts_gossip_custom.py
tts_dataframe.py
tts_quest.py
AI_VoiceOver.zip
AI_VoiceOverData_VanillaExtra.zip
AI_VoiceOverData_TBC.zip
AI_VoiceOverData_WoTLK.zip
wow_vo_webui.zip
AI_VoiceOver_All.zip
/AI_VoiceOver/wow-api-type-definitions
